
server:
  port: 8087

spring:
  application:
    name: shipment-service
  datasource:
    url: jdbc:postgresql://localhost:5432/orders
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
